footer {
    margin-top: 5rem;
    background-color: lightgrey;
    color:white;
    padding-block:4rem ;
    padding-left: 4rem;
  }

  img {
    border-radius: 4%;
  }


  body {
    background-color: lightblue;
  }